.wrapper {
  width: 100%;
  height: 100%;

  h1 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .chart {
    width: 100%;
    height: 100%;
  }
}
