@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    .title {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 1.2rem;
      color: $soft-color;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: all 0.2s;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle {
        text-transform: capitalize;

        @include lg {
          display: none;
        }
      }
    }
  }
}
