.errorBoundary {
  width: 100%;
  min-height: 70vh;

  .container {
    padding: 5rem 0;

    .wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      h1 {
        font-weight: 400;
        font-size: 2.4rem;
        color: inherit;
        line-height: 1.2;
      }

      h2 {
        font-weight: 300;
        font-size: 1.7rem;
        color: inherit;
        line-height: 1;
      }
    }
  }
}
