@import '../../styles/responsive.scss';

.chartBox {
  display: flex;
  height: 100%;

  .boxInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include xxl {
        font-size: 1.4rem;
      }

      span {
        text-transform: capitalize;
      }
    }
  }

  .chartInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      width: 100%;
      height: 100%;
    }

    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percentage {
        font-weight: bold;
        font-size: 2rem;
      }

      .duration {
        font-size: 1.4rem;
      }
    }
  }
}
