.single {
  display: flex;

  .view {
    flex: 1;

    .info {
      &__top {
        display: flex;
        align-items: center;
        gap: 3rem;

        img {
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          display: block;
          object-fit: cover;
        }

        h1 {
          text-transform: capitalize;
          font-weight: 500;
        }
      }

      &__details {
        font-size: 1.8rem;

        .item {
          margin: 3rem 0;

          &__title {
            text-transform: capitalize;
            font-weight: 600;
            margin-right: 1rem;
          }

          &__value {
            text-transform: capitalize;
          }
        }
      }
    }

    hr {
      width: 90%;
      height: 0;
      border: 0.5px solid gray;
      margin: 2rem 0;
    }

    .chart {
      margin-top: 5rem;
      width: 80%;
      height: 40rem;
    }
  }

  .activities {
    flex: 1;

    h2 {
      text-transform: capitalize;
      margin-bottom: 2rem;
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        width: 1px;
        padding-top: 0.5rem;
        background-color: #f45b69;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
        }
      }
    }
  }
}
