.single {
  display: flex;

  .view {
    flex: 1;

    .info {
      &__top {
        display: flex;
        align-items: center;
        gap: 3rem;
      }

      &__details {
        .item {
          &__title {
          }

          &__value {
          }
        }
      }
    }

    .chart {
    }
  }

  .activities {
    flex: 1;

    h2 {
    }
  }
}
