.single {
  display: flex;

  .view {
    flex: 1;

    .info {
      .topInfo {
      }

      .details {
        .item {
          &__title {
          }

          &__value {
          }
        }
      }
    }

    .chart {
    }
  }

  .activities {
    flex: 1;

    h2 {
    }
  }
}
