.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:hover {
    background-color: $soft-bg;
  }

  .listItemTitle {
    text-transform: capitalize;

    @include lg {
      display: none;
    }
  }
}
