@import './variables.scss';

:root {
  --clr-white: #fff;
  --clr-red: #f00;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: $main-bg;
  color: $main-color;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}
