@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  background-color: $main-bg;
  color: $main-color;
}

.main {
  font-family: inherit;
  background-color: inherit;
  color: inherit;

  .container {
    display: flex;

    .menuContainer {
      width: 25rem;
      padding: 0.5rem 2rem;
      border-right: 2px solid $soft-bg;
    }

    .contentContainer {
      padding: 0.5rem 2rem;
      width: 100%;
    }
  }
}
