$sm: 30em; // 480px
$md: 48em; // 768px
$lg: 64em; // 1024px
$xl: 75em; // 1200px
$xxl: 87.5em; // 1400px

@mixin sm {
  @media only screen and (max-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: ($lg)) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: ($xl)) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (max-width: ($xxl)) {
    @content;
  }
}
