@import '../../styles/variables.scss';
@import '../../styles/responsive.scss';

.main {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  position: relative;

  .container {
    display: flex;

    .menuContainer {
      width: 25rem;
      padding: 0.5rem 2rem;
      border-right: 2px solid $soft-bg;

      @include lg {
        width: max-content;
      }
    }

    .contentContainer {
      padding: 0.5rem 2rem;
      width: 100%;
    }
  }
}
