.wrapper {
  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      .user {
        display: flex;
        gap: 2rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: block;
          object-fit: cover;
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .username {
            font-weight: 500;
            font-size: 1.4rem;
          }

          .email {
            font-size: 1.2rem;
          }
        }
      }

      .amount {
      }
    }
  }
}
