.wrapper {
  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      .user {
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          display: block;
          object-fit: cover;
        }

        .userTexts {
          .username {
          }

          .email {
          }
        }
      }

      .amount {
      }
    }
  }
}
