.navbar {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    .user {
      display: flex;
      align-items: center;

      img {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        display: block;
        object-fit: cover;
      }
    }
  }
}
