.navbar {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    .notification {
      position: relative;

      span {
        font-size: 1.2rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: var(--clr-red);
        color: var(--clr-white);
        border-radius: 50%;
        position: absolute;
        top: -1rem;
        right: -1rem;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        display: block;
        object-fit: cover;
      }
    }
  }
}
