@import '../../styles/variables.scss';

.overlay {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);

  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
  }

  .modal {
    padding: 5rem;
    border-radius: 1rem;
    background-color: $main-color;

    span {
    }

    h1 {
    }
  }
}
