.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .options {
    .option {
      .title {
        .dot {
        }
      }
    }
  }
}
