.dataTable {
  .dataGrid {
    font-size: 1.6rem;
    color: var(--clr-white);

    img {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      display: block;
      object-fit: cover;
    }

    .action {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }

      button {
        display: inline-block;
        border: none;
        background-color: transparent;
        outline-color: #d7143c;
      }
    }
  }
}
